.wd-kanbas-navigation {
  background: black;
  border-radius: 0 !important;
  border: none;
  margin-right: 10px;
}

.wd-kanbas-navigation a {
  background-color: black;
  color: white;
  border-radius: 0px !important;
  border: none;
}

.wd-kanbas-navigation a.active {
  background-color: white;
  color: #C81829;
}
