a {text-decoration: none !important;}

Link {
    text-decoration: none !important;
}

ul {
    display: contents;
}

li { 
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 5px;
}